<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}newsmeme{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block extra_stylesheets %}{% endblock %}
        {% block favicon %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block extra_javascripts %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block topnav %}{% endblock %}
        {% block main_nav %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block load_js %}{% endblock %}
    </body>
</html>
